<div five-objects controller="app.FiveObjects">
    <h1>Objects</h1>
    <p>Every thing you'll deal with belongs to some type or another.  We say that it is an instance of that type.</p>
    <p><code>14</code> is an instance of <code>Number</code>, <code>"Hello, World!"</code> is an instance of <code>String</code></p>
    <p>There is one particularly useful type of thing called <code>Object</code></p>
    <p>Instances of <code>Object</code> can hold on to other things.  It's like a variable that holds a bunch of other variables. These are called properties.</p>
    <p>We get to an object's properties by using a dot (<code>.</code>) operator.</p>
    <p>This page has an object named <code>teach</code>. In the console, see what's in the <code>teach</code> object's <code>name</code> property using the dot operator, like this:<br /> 
        <code>teach.name</code>
    </p>
    <p>Just like we used quote marks to define a thing of type <code>String</code>, we can use some other special characters to define a thing of type <code>Object</code>.  When we do that, we're dealing with <code>literals</code>.  Numbers have the easiest literals because they are just numbers like you're used to. Strings make sense, because you've often seen words inside of quotes.  The <code>Object</code> literal is a little more tricky, and it'll just take some time to get used to. Type this in your console.</p>
    <p><code>var person = {firstName:"Sam", lastName:"Spade", age:24};</code></p>
    <p>Now type <br /><code>person.firstName;</code></p>
    <p>Now try to add new properties using the dot:<br />
        <code>person.bestFriend = "me";</code>
    </p>
    <p>Continue on to the next page...</p>
</div>