<div four-variables controller="app.FourVariables">
    <h1>Things, Variables</h1>
    <p>As a programmer, you'll be dealing with things. The computer knows about a few kinds of things including <code>Number</code>s, as you saw on the last page when you used the console as a calculator.</p>
    <p>Another type of thing is the <code>String</code>, which represents text. A <code>String</code> is always wrapped in quotes so the computer knows you are talking about a thing of the <code>String</code> variety.</p>
    <p>Try typing a <code>String</code> in the console.  You can type about whatever you want, just wrap it in quotes, like this:<br />
        <code>"Hello, world!"</code>
    </p>
    <p>When you did the calculator, you put things like <code>+</code> and <code>*</code> in between the numbers. These are called <code>operators</code>, and are used to modify things.</p>
    <p>There are some operators which work on the <code>Number</code> type, and there are also operators which work on other types. The <code>+</code> operator glues two strings together. Try this:<br />
        <code>"Hello, " + "World!"</code>
    </p>
    <p>See that the console spits back at you the two strings glued together. Anything you type into the console is a <code>statement</code>, and every <code>statement</code> has a return value.  What the console spits back at you is the return value.  You probably noticed that some stuff you've done has had a return value of <code>undefined</code>.</p>
    <p></p>
    <p>You will often want to hang on to a thing. You do this with variables. You can put a thing directly into a variable, or you can use a variable to catch the return value of a statement. <code>var</code> at the beginning of a statement tells the computer you are making a new variable.<br />
    <code>var num = 5;<br/></code>
    <code>var otherNum = 6;</br></code>
    <code>var sum = num + otherNum;</code>
    </p>
    <p>You can name a variable basically anything that isn't already being used by the computer, as long as it starts with a letter.</p>
    <p>See now why you have to wrap your <code>String</code> type things in quotes? Otherwise, the computer will think you're talking about a variable.</p>
    <p>Remember, type <code>tut.next()</code> in the console to continue</p>
</div>