<div six-objects controller="app.SixObjects">
    <style>
    [tag="box"] {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20px;
        height: 20px;
        background-color: #ff0000;
    }
    </style>
    <h1>Objects, Part 2</h1>
        <div tag="box"></div>
    <p>You can think of an object instance as a box full of other things. That's a simple idea, but very powerful.  By messing with the properties of an object, you can do all sorts of interesting things.  Indeed, most of what a programmer does is deal with properties on objects.</p>
    <p>See the red box on this page?   In the console is a variable called <code>box</code> that is hooked up to the box on the page.  It has a few properties you can mess with: left, top, width, and height. Try changing the values of those properties.</p>
</div>