<div three-console controller="app.ThreeConsole">
  <h1>Console, part 2</h1>

      <p>Congratulations! You've hacked!</p>
      <p>The developer tools let you get inside a web page and see what's going on.<br />The Console in the developer tools allow you run commands on the page.</p>
      <p></p>
      <p>You can do all sorts of things in the console, including math:<br />
          <code>2+2+4/2*244</code><br />
          And some other stuff we'll learn about.
      </p>
      <p>There won't be any more buttons to move around the tutorial now.  To get to the next page from here in, you'll type:<br />
          <code>tut.next()</code>
      </p>
      
</div>
