<div two-console controller="app.TwoConsole">
  <style>
    [two-console] [tag="slider"] {
      height: 200px;
      width: 400px;
      position: absolute;
      top: 50px;
      left: 0;
    }

    [two-console] [tag="next"] {
      position: absolute;
      top: 250px;
    }
  </style>
  <h1>The Console</h1>
  <div component="ui-state-manager" tag="slider">
    <div name="one" initial>
      <p>
        You're going to learn to program by hacking.
      </p>
      <p>
        Don't worry, it's legal. Sorry if you're disappointed about that.
      </p>
    </div>
    <div name="two">
      <p>
        Hacking, in this case, just means getting inside a system to learn how it works and then make it do things you want it to.
      </p>
      <p>
        As it happens, you are looking at the world's most widely used programming platform: The Web Browser.
        The web browser these days also happens to be one of the most hackable platforms ever, thanks to the console.
      </p>
    </div>
    <div name="three">
      <p>
        When you do what I'm about to tell you to do, a window may appear. If it does, move it and resize things so you can see this window again.
      </p>
      <p>
        Open the developer tools for your browser by right-clicking anywhere on this page and selecting "Inspect Element".
      </p>
      <p>
        In the developer tools look for a tab or section called "console".
      </p>
    </div>
  </div>

  <button ui-button class="danger" tag="next">Next -&gt;</button>
</div>
